p{
    padding-top: 50px;
    padding-bottom: 50px;
}

a{
    display: inline-block;
    padding: 10px;
}
     
p:target-within{
    background-color: skyblue;
}
/* a:link {color: navy;}
a:visited {color: gray;}
a:focus {color: orange;}
a:hover {color: red;}
a:active {color: yellow;}
button:focus{background-color: blue;}
nav:focus-within {border: 3px solid silver;}
a:focus-visible {outline: 2px solid currentcolor;} */

/* a:link, a:visited {font-size: 13px;}
a:hover, a:active {font-size: 20px;} */

/* :enabled {font-weight: bold;}
:disabled {opacity: 0.5;} */


a::selection{
    color: white; 
    background-color: navy;
}
label::selection {color: silver; background-color: maroon}